@import "../settings";
@import "../tools";

.form-control {
  box-sizing: border-box;
  display: inline-block;
  background-color: #fff;
  width: 100%;
  max-width: 50em;
  font-size: 1em;
  border: 2px solid;
  padding: 8px;
  transition: 200ms box-shadow;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 1px rgba(#fff, .8), 0 0 0 3px $outline-colour;
  }

  @include media('>phone') {
    &.form-control--short {
      max-width: 10em;
    }

    &.form-control--inline {
      width: auto;
    }
  }
}

fieldset {
  border: 1px solid #ccc;
  margin: 0;
  padding: 10px 20px;
  border-radius: 5px;

  > legend {
    font-size: 1.2em;
    padding: 0 10px;
    margin: 0 -10px;
    font-weight: 800;
    display: table;
  }
}

.form-label {
  margin-bottom: 10px;
  font-size: 1.2em;
  display: table;
  font-weight: 500;
}

.form-hint {
  color: #6f777b;
  margin: 10px 0;
}
