@import "../settings";

.form-control {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  font-size: 1em;
  transition: 200ms box-shadow;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 1px rgba(#fff, .8), 0 0 0 3px $outline-colour;
  }

  &.form-control--short {
    max-width: 10em;
  }

  @media(min-width: 40em) {
    &.form-control--inline {
      width: auto;
    }
  }
}

fieldset {
  border: 1px solid #aaa;
  margin: 0;
  padding: 10px;

  > legend {
    font-size: 1.2em;
    padding: 0 10px;
    font-weight: 800;
    display: table;
  }
}
