@import "settings";

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: $text-colour;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
}

a {
  color: inherit;

  &:link {
    text-decoration-skip: ink;
    transition: 100ms box-shadow;
    color: $govuk-blue;
  }

  &:visited {
    color: #4c2c92;
  }

  &:hover {
    color: #2b8cc4;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px $outline-colour;
  }

  &:not([href]) {
    color: inherit;
  }
}
