@import "settings";

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: $text-colour;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
}

a {
  color: inherit;

  &:link {
    text-decoration-skip: ink;
    color: #005ea5;
  }

  &:hover {
    color: #2b8cc4;
  }

  &:visited {
    color: #4c2c92;
  }
}
